/* YOUR CUSTOM STYLES */

body , html {
    color: white;
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    
}


section{
    background-color: cornflowerblue;
    height: 100vh;
    
}

section .holder{
    
    padding: 0.5em;

}


.start-text {
    text-align: center;
    color: lightgrey;
}
